<div class='container my-5'>
  <!-- Content here -->
  <form action='/records/category' class='row' id='categoryForm'>
    <div class='col-6 mx-auto text-center'>
      <select
        class='form-select form-select-lg mb-3'
        aria-label='.form-select-lg'
        id='categorySelect'
        name='categorySelect'
      >
        <option value='normal' {{#if (isEqual 'normal' categorySelect)}} selected {{/if}}>類別</option>
        {{#each categories}}
          <option value='{{this.value}}' {{#if (isEqual this.value @root.categorySelect)}} selected {{/if}}>{{this.title}}</option>
        {{/each}}
      </select>
    </div>
  </form>
  <div class='row mb-2'>
    <div class='col text-center'>
      <h1>總金額：<span
          class='total-amount text-success fw-bold'
        >{{getTotalAmount records}}元</span></h1>
    </div>
  </div>
  {{#unless records}}
  <div class='row'>
    <div class='col text-center'>
    <div class="alert alert-info fs-2" role="alert"><i class="fas fa-sad-tear ml-1"></i> 無相關記帳紀錄</div>
     </div>
  </div>
  {{/unless}}
  {{#each records}}
    <div
      class='row border-2 border-bottom border-secondary my-4 p-1 align-items-center'
    >
      <div class='col-1 text-info text-center'>
        <i class='{{getCategoryIcon @root.categories this.category}} fs-1'></i>
      </div>
      <div class='col d-flex justify-content-between align-items-center'>
        <div>
          <div class='fs-3 text-primary fw-bold'>{{this.name}}</div>
          <div class='text-muted'>{{formatDate this.date}}</div>
        </div>
        <div class='fs-2 text-warning fw-bold'>{{this.amount}}元</div>
      </div>
      <div class='col col-auto d-flex'>
        <div class='m-1'>
          <a
            class='btn btn-outline-secondary fw-bold'
            href='/records/{{this._id}}/edit'
            role='button'
          >修改</a>
        </div>
        <div class='m-1'>
          <button
            type='button'
            class='btn btn-outline-danger fw-bold'
            data-bs-toggle='modal'
            data-bs-target='#delete-modal-{{this._id}}'
          >
            刪除
          </button>
        </div>
      </div>
    </div>

    <!--delete modal -->
    <div
      class='modal fade'
      id='delete-modal-{{this._id}}'
      data-bs-backdrop='static'
      data-bs-keyboard='false'
      tabindex='-1'
      aria-labelledby='staticBackdropLabel'
      aria-hidden='true'
    >
      <div class='modal-dialog modal-sm modal-dialog-centered'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='staticBackdropLabel'>提示訊息</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            >
            </button>
          </div>
          <div class='modal-body text-center'>
            是否確定刪除此筆資料？
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >取消</button>
            <form action='/records/{{this._id}}?_method=DELETE' method='POST'>
              <button type='submit' class='btn btn-danger'>確定刪除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <div class='row'>
    <div class='col text-center'>
      <a
        class='btn btn-dark btn-lg'
        href='/records/new'
        role='button'
      >新增支出</a>
    </div>
  </div>
</div>

<script src='/javascripts/index.js'></script>